var like_count = parseInt($('.like-count').text());  //문자열이기때문에 숫자로 바꿔주어야 count가능

console.log(like_count);
if(<%= @like.frozen? %>){
    alert("좋아요 취소");
    like_count = like_count - 1;
    $('.like').html(`좋아요( <span class='like-count'>${like_count}</span> )`).addClass("btn-info").removeClass("btn-warning text-white");
} else {
    alert("좋아요 설정됐쩡");
    like_count = like_count + 1;
    $('.like').html(`좋아요 취소( <span class='like-count'>${like_count}</span> )`).addClass("btn-warning text-white").removeClass("btn-info");
}